# mobile
mobile/node_modules/**/*
mobile/.expo/*
mobile/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
mobile/web-build/
mobile/web-report/

# frontend
frontend/node_modules

# backend
frontend/node_modules